a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    opacity: .7; 
    font-size: 1.6em; 
    font-weight: bold;

    .material-icons {
        position: relative !important;
        vertical-align: middle !important;
        font-size: 1.2em !important; 
    }
  }  
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
