<app-page-header [pageHeader]="pageHeader"></app-page-header>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead class="table-secondary">
                <tr>
                    <td>Id</td>
                    <td>Blend</td>
                    <td>Origin</td>
                    <td>Variety</td>
                    <td>Intensifier</td>
                    <td>Notes</td>
                </tr>    
            </thead>
            <tbody>
                <tr *ngFor='let product of retrievedProducts$ | async'>
                    <td>{{ product.id }}</td>
                    <td>{{ product.blend_name }}</td>
                    <td>{{ product.origin }}</td>
                    <td>{{ product.variety }}</td>
                    <td>{{ product.intensifier }}</td>
                    <td>{{ product.notes }}</td>
                </tr>    
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-pagination></app-pagination>
    </div>
</div>

